@page
@model ThreeYellowDucks.Pages.Productos.CreateProductoModel
@{
}
<div class="container">
	<form method="post">
		<div class="form-group">
			<label asp-for="Producto.MarcaNombre" class="control-label"></label>
			<input asp-for="Producto.MarcaNombre" class="form-control" />
			<span asp-validation-for="Producto.MarcaNombre" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Producto.Tipo" class="control-label"></label>
			<input asp-for="Producto.Tipo" class="form-control" />
			<span asp-validation-for="Producto.Tipo" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Producto.Precio"></label>
			<input asp-for="Producto.Precio" class="form-control" />
			<span asp-validation-for="Producto.Precio" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Producto.Cantidad"></label>
			<input asp-for="Producto.Cantidad" class="form-control" />
			<span asp-validation-for="Producto.Cantidad" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Producto.IdCategoria"></label>
			<span asp-validation-for="Producto.IdCategoria" class="text-danger"></span>
			<select asp-for="Producto.IdCategoria" asp-items="@(new SelectList(Model.ListaCategorias, "Id", "NombreCategoria"))" class="form-control">
				<option value="">Seleccione una categoria</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary mt-1">Guardar producto</button>
	</form>
</div>
