@page
@model ThreeYellowDucks.Pages.Categorias.CreateCategoriaModel
@{
}
<div class="container">
	<form method="post">
		<div class="form-group">
			<label asp-for="Categoria.NombreCategoria"></label>
			<input asp-for="Categoria.NombreCategoria" class="form-control" />
			<span asp-validation-for="Categoria.NombreCategoria" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary mt-1">Guardar</button>
	</form>
</div>