@page
@model ThreeYellowDucks.Pages.Categorias.IndexCategoriasModel
@{
}



@if(Model.ListaCategorias.Count == 0)
{
	<div class="alert alert-info" role="alert">
		No hay categorias disponibles. Por favor, agregue una categoria.
	</div>
	<a asp-page="CreateCategoria" class="btn btn-success mb-3">Agregar categoria</a>

}
else
{
	<a asp-page="CreateCategoria" class="btn btn-success mb-3">Agregar categoria</a>

	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre de la categoria</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var categoria in Model.ListaCategorias)
			{
				<tr>
					<td>@categoria.Id</td>
					<td>@categoria.NombreCategoria</td>
					<td>
						<a asp-page="EditCategoria" asp-route-id="@categoria.Id" class="btn btn-primary btn-sm">Editar</a>
						<a asp-page="DeleteCategoria" asp-route-id="@categoria.Id" class="btn btn-danger btn-sm">Eliminar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>	
}