@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center" id="titulodiv">
    <h1 id="h1titulodiv">🦆 Three Yellow Ducks</h1>
    <p>Helping you with your shopping amnesia!!!</p>
</div>
<section class="container cardSection">
    <div class="cardBody" id="cardArticulo">
        <h3 class="cardTitle">📦 Cargá tus categorias mas usadas</h3>
        <p class="cardDescription">Agregá las categorias mas usadas en tu hogar teniendo todo registrado.</p>
    </div>
    <div class="cardBody" id="cardCostos">
        <h3 class="cardTitle">💰 Calculá tus gastos</h3>
        <p class ="cardDescription">Visualizá subtotales y totales estimados automáticamente.</p>
    </div>
</section>